<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barcicki.gorcalculator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="GorCalculator"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false">
        </provider>
        <activity
            android:name="com.barcicki.gorcalculator.CalculatorActivity"
            android:exported="true"
            android:label="@string/title_calculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.barcicki.gorcalculator.PlayerListActivity"
            android:label="@string/title_player_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barcicki.gorcalculator.CalculatorActivity" />
        </activity>
        <activity
            android:name="com.barcicki.gorcalculator.TournamentsListActivity"
            android:label="@string/title_tournaments_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barcicki.gorcalculator.CalculatorActivity" />
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="GorCalculator.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.barcicki.gorcalculator.database.OpponentModel, com.barcicki.gorcalculator.database.PlayerModel, com.barcicki.gorcalculator.database.TournamentModel" />
    </application>
</manifest>